@charset "UTF-8";

main {
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 5px black;
    padding: 2%;
    font-family: open sans;
    line-height: 1.6;
    text-align: justify;
}

main blockquote {
    margin: 5%;
    text-indent: 8%;

}

main h4 {
    margin-left: 5%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    /*text-shadow: 0.03em 0.03em 0.03em blue;*/
    display: inline-block;

    max-width: calc(200% + 50px);
    /* Limita a largura do background */

    text-align: left;
    border-radius: 10px;
    /* Arredonda os cantos */

}

main h3 {
    text-align: center;
    /* Centralizar o texto dentro */
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    /* Ajuste a largura para 100% */
    box-sizing: border-box;
    background-color: #71aee7;
    border-radius: 15px;
    color: #ffffff;
    /* Cor do texto branca */
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);

    /* Arredonda os cantos */
}

main p {
    text-indent: 25px;
    text-align: justify;
}

main ul {
    margin: 5%;
    line-height: 1.6;
}

main img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 20px;
}


.img-stick {
    max-width: 350px;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    transistion: 1s;

}

.img-stick:hover {
    max-width: 450px;
    width: 75%;
    transistion: 1s;
}

.img-peq {
    max-width: 350px;
    width: 50%;
    margin: auto;
    border-radius: 10px;

}

.img-med {
    max-width: 600px;
    width: 95%;
    margin: auto;
    border-radius: 10px;


}

.img-gra {
    max-width: 950px;
    width: 95%;
    margin: auto;
    border-radius: 10px;


}



.video-container {
    position: relative;
    width: 100%;
    /* Largura 100% da tela */
    max-width: 960px;
    /* Largura máxima de 640px */
    height: 0;
    padding-bottom: 56.25%;
    /* Proporção 16:9 (360 / 640 = 0.5625 ou 56.25%) */
    background: black;
    /* Caso o vídeo tenha bordas, pode usar uma cor de fundo */
    overflow: hidden;
    margin: 0 auto;
    /* Centraliza o vídeo */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
